/* CSS Document */
#title {
	font-weight: bold;
	font-family: "Comic Sans MS", cursive;
	text-align: center;
}
.honey {
	text-align: center;
	display:block;
	margin-left: auto;
    margin-right: auto 
}

.honey_img {
	display: block;
    margin-left: auto;
    margin-right: auto 

}
.honey_pot {
    margin-left: auto;
    margin-right: auto 

}

#bg1{
	background-image: url("food.png");
	text-align: center;
}

#bg2{
	background-image:url("congruent_pentagon.png");
	text-align: center;
}

#bg3{
	background-image:url("foxtail.png");
	text-align: center;
}

#bg4{
	background-image:url("retro-stripe-pattern.png");
	text-align: center;
}

#bg5{
	background-image:url("sativa.png");
	text-align: center;
}